<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sing in</title>
    <link rel="stylesheet" href="/stylesheets/navBar.css" />
    <link rel="stylesheet" href="/stylesheets/signin.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-navigation">
        <ul class="list-navigation">
          <a href="/" class="link-navigation">Acceuil</a>
          <a href="/users" class="link-navigation">Users</a>
          <a href="/home" class="link-navigation">Home</a>
        </ul>
      </nav>
    </header>
    <main class="main-content">
      <div class="signin-wrapper">
        <form class="signin-form">
          <div class="signin-item">
            <h1 class="signin-title">Connect to the App</h1>
          </div>
          <div class="signin-item">
            <label class="signin-label" for="signin-email">Email</label>
            <input type="text" id="signin-email" class="signin-input" />
          </div>
          <div class="signin-item">
            <label class="signin-label" for="signin-password">Password</label>
            <input type="password" id="signin-password" class="signin-input" />
          </div>
          <div class="signin-item">
            <button type="submit" class="signin-button">Connect</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
